.footer{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 35px;
    border-top: 1px solid rgb(171, 171, 171);
    background-color: white;
}
.left{
    margin-left: 70px;
}
.right{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    margin-right: 100px;
    font-size: 16px;
}