@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.login{
    width:300px;
    height:700px;
    margin:auto;
    text-align:center;
}
.logo{
    font-family: 'Yeseva One', cursive;
    font-size:2.5rem;
}
.welcome{
    margin-bottom:20px;
    font-family: 'Poppins', sans-serif;
    font-weight:550;
    font-size:0.8rem;
}
.input{
    width:100%;
    padding:16px;
    margin:0px 0px 10px 0px;
    border-radius:15px;
    border:1px solid #cccccc;
    box-sizing:border-box;
}
.btn{
    font-family: 'Poppins', sans-serif;
    font-weight:550;
    border:none;
    background-color:black;
    color:white;
    width:60%;
    height:40px;
    border-radius:20px;
}

.signup{
    margin-top:30px;
    color:#666666;
}
.forgot{
    margin:2px 0px  30px 0px;
}
.link{
    color:#333333;
}
.terms{
    text-align:center;
    font-size:11px;
    color: #666666;
}
.t-link{
    color: #666666;

}